.row {
  display: flex;
}

.left {
  //display: flex;
}

.right {
  //display: flex;
}

.col {
  border: 1px solid gray;
}

.center {
  display: flex;
  background: yellow;
  border: 1px solid black;
}
