@classname: .virtual-table;
@border-color: #e8e8e8;
@hover-color: #e6f7ff;
@pagination-hover-color: #1890ff;

@{classname} {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header,
  &__footer {
    width: 100%;
    background: #fafafa;
    z-index: 1;

    > @{classname}__row {
      > @{classname}__left,
      @{classname}__right {
        > @{classname}__col {
          background: #fafafa;
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    contain: content;
  }

  &__body {
    width: 100%;
  }

  &__left {
    position: absolute;
    left: 0;
    display: flex;
    background: #fff;
    z-index: 1;

    &.hover {
      background: #e6f7ff;
    }
  }

  &__right {
    position: absolute;
    right: 0;
    display: flex;
    background: #fff;
    z-index: 1;

    &.hover {
      background: #e6f7ff;
    }
  }

  &__center {
    display: flex;

    &.hover {
      background: @hover-color;
    }
  }

  &__row {
    display: flex;
    border-style: solid;
    border-color: @border-color;
  }

  &__col {
    border-style: solid;
    border-color: @border-color;
    text-align: center;
    line-height: 40px;
  }

  &__pagination {
  }

  &__pagination-ul {
    margin: 5px 0;
    padding: 0;
    float: right;
  }

  &__pagination-li {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    &.border {
      border: 1px solid @border-color;
      &:hover {
        border: 1px solid @pagination-hover-color;
        color: @pagination-hover-color;
      }
    }
  }
}
