@classname: .virtual-table;
@border-color: #e8e8e8;
@hover-color: #e6f7ff;
@disabled-color: #ededed;
@pagination-hover-color: #1890ff;

@{classname} {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  &__header,
  &__footer {
    z-index: 1;
    width: 100%;
    background: #fafafa;

    > @{classname}__row {
      > @{classname}__left,
      @{classname}__right {
        > @{classname}__col {
          background: #fafafa;
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    contain: content;
  }

  &__body {
    width: 100%;
  }

  &__left {
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    background: #fff;

    &.hover {
      background: #e6f7ff;
    }
  }

  &__right {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    background: #fff;

    &.hover {
      background: #e6f7ff;
    }
  }

  &__center {
    display: flex;

    &.hover {
      background: @hover-color;
    }
  }

  &__row {
    display: flex;
    border-color: @border-color;
    border-style: solid;
  }

  &__col {
    line-height: 40px;
    text-align: center;
    border-color: @border-color;
    border-style: solid;
  }

  &__pagination {
    //user-select: none;
  }

  &__pagination-ul {
    float: right;
    //user-select: none;
    margin: 5px 0;
    padding: 0;
  }

  &__pagination-li {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    //min-width: 15px;

    &.border {
      border: 1px solid @border-color;

      &:hover {
        color: @pagination-hover-color;
        border: 1px solid @pagination-hover-color;
      }
    }

    &.selected {
      color: @pagination-hover-color;
      border: 1px solid @pagination-hover-color;
      cursor: default;
    }

    &.disabled {
      background: @disabled-color;
      cursor: not-allowed;

      &:hover {
        color: gray;
        border: 1px solid @border-color;
      }
    }
  }
}
